.schedule-preview {
  list-style-type: none;
  padding-bottom: 25px;
}

.schedule-preview li {
  display: table-cell;
  padding: 2px;
}

.schedule-container {
  display: flex;
  flex-wrap: row;
}

.timeline {
  list-style-type: none;
  padding-right: 10px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  text-align: right
}

.activity-item {
  width: 200px;
  cursor: move;
  display: flex;
  justify-content: center;
}

.activity-title {
  font-size: 14px;
}
.activity-item-locked {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.activity-item:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .1;
}

.activity-item.cdk-drag-disabled {
  cursor: default;
}

.cdk-drag-placeholder {
  opacity: .3;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  width: 245px;
  margin-left: -45px
}
