<h1>{{modalTitle}}</h1>

<div class="schedule-container">

	<ul class="timeline" [ngStyle]="{'margin-top.px': -(activtyHeightPx/2)}">

		<li class="timeline-item" *ngFor="let timelineitem of timeline" [ngStyle]="{
        'height.px': activtyHeightPx}">
			<span [ngClass]="(timelineitem.isActive)? 'timeline-item-activ':''" *ngIf="timelineitem.isVisible">{{timelineitem.time}}</span>
		</li>

	</ul>

	<div cdkDropListGroup>

		<div cdkDropList 
      [cdkDropListEnterPredicate]="dropListEnterPredicate"
			(cdkDropListDropped)="dropListDropped($event)">
    </div>

		<div cdkDropList *ngFor="let activity of activitys" 
      [cdkDropListEnterPredicate]="dropListEnterPredicate"
			(cdkDropListDropped)="dropListDropped($event)">

			<div cdkDrag cdkDragLockAxis="y" 
        [cdkDragDisabled]='!activity.movable' class="activity-item"
				(cdkDragMoved)="dragMoved($event);" [ngStyle]="{
        'height.px': activity.height,
        'background-color': 'rgba('+ activity.color + ')'}"
        [ngClass]="(activity.isLocked)? 'activity-item-locked':''">
        <i *ngIf="activity.movable" [ngStyle]="{'right': '-25px', 'position':'absolute', 'font-size': '24px'}" nz-icon nzType="swap" nzTheme="outline"></i>
				<span class="activity-title">{{getActivityTime(activitys.indexOf(activity))}}</span>
      </div>

		</div>
	</div>

</div>
