<h1>Self scheduling</h1>

<ul class="schedule-preview">
	<li *ngFor="let activity of activitys" [ngStyle]="{
     'background-color': 'rgba('+ activity.color + ')'}"></li>
</ul>


<div class="schedule-container">

	<ul class="timeline" [ngStyle]="{'margin-top.px': -(activtyHeightPx/2)}">

		<li class="timeline-item" *ngFor="let timelineitem of timeline" [ngStyle]="{
        'height.px': activtyHeightPx}">
			<span *ngIf="!timelineitem.visible">{{timelineitem.time}}</span>
		</li>

	</ul>

	<div cdkDropListGroup>

		<div cdkDropList 
      [cdkDropListEnterPredicate]="dropListEnterPredicate"
			(cdkDropListDropped)="dropListDropped($event)">
    </div>

		<div cdkDropList *ngFor="let activity of activitys" 
      [cdkDropListEnterPredicate]="dropListEnterPredicate"
			(cdkDropListDropped)="dropListDropped($event)">

			<div cdkDrag cdkDragLockAxis="y" 
        [cdkDragDisabled]='!activity.movable' class="activity-item"
				(cdkDragMoved)="dragMoved($event);" [ngStyle]="{
        'height.px': activity.height,
        'background-color': 'rgba('+ activity.color + ')'}">
				<span>{{getActivityTime(activitys.indexOf(activity))}}</span>
      </div>

		</div>

	</div>

</div>
